* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Philosopher";
    src: url(./fontes/Philosopher/);
    font-family: "Javanese-Text";
    src: url(./fontes/javanese-text-maisfontes.621e/);
    font-family: "Segoe";
    src: url(./fontes/segoe-wp-font/);
}

:root {
    --branco: #ffffff;
    --preto: #000000;
    --verde-pp: #879E6D;
    --verde-escuro: #585E51;
    --verde-cinza: #B0BCA2;
}

.container-grid {
    max-width: 1400px;
    width: 80vw;
    margin: 0 auto;
}

body {
    overflow-x: hidden;
    background-color: var(--verde-cinza);
}

main {
    background-color: var(--verde-cinza);
}

/* header--------------------------------------------------------------------- */
header {
    background-color: var(--branco);
    padding: 15px 0;
    border-bottom: 1px;
}

header .container-grid {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.container-grid img {
    height: 100px;
}

/* menu------------------------------------------------------------------- */
.menu {
    max-width: 700px;
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.menu a {
    font-size: 22px;
    color: var(--verde-pp);
    font-family: "Segoe";
    text-decoration: underline transparent;
    text-decoration-style: var(--verde-escuro);
    transition: text-decoration 500ms ease;
}

.menu a:hover {
    text-decoration: var(--verde-escuro);
}



.texto-banner h1 {
    color: var(--branco);
    margin-bottom: 0;
    font-size: 90px;
    font-family: "Philosopher", regular;
    
}

.conteudo-banner img {
    max-width: 250px;
    width: 50%;
    border-radius: 25px;
    box-shadow: 0 15px 15px 0 rgba(0, 0, 0, 0.2);

}

.conteudo-banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 160px;
    margin-bottom: 160px;
    margin: 160px;
}

main{
    background-color: var(--verde-cinza);
}




